* {
    
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* social_media */
.social-media__container{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow:  0px 5px 5px -5px  #86878b;
    justify-content: center;
    align-items: center;

}
.cocial-media__content{  
    max-width:360px;

}

.social-media__title{
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.social-media__text{
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.social-media__icons {
    margin-top: 30px;
    margin-bottom: 29px;
    margin-left: 87px;
}

.social-media__fab{
    margin-left: 15px;
    margin-right: 15px;
}
.media-icons{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 634px;
    margin: auto;
    height: 46px;
    font-size: 48px;
    color: #cccccc;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width:550px) {
    .social-media__icons{
        margin-left: 0px;
    }
}

/* awesome */
.awesome {
    max-width: 100%;

}

.awesome__title {
    margin-top: 108px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
}

.awesome__title::after{
    content: "";
    display: block;
    margin: 30px auto 0 auto;
    width: 64px;
    height: 2px;
    background-color: #ffa254;
}

.awesome__subtitle {
    margin-top: 30px;
    text-align: center;
    line-height: 14px;
    margin-bottom: 80px;
    color: #86878b;

}
.awesome__text {
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

}

.awesome-cards{
    display: flex;
    justify-content: center;
    margin-left: 143px;
    margin-right: 143px;
}



.awesome-cards__item {
    width: 350px;
    margin-bottom: 105px;
}
    

.awesome-cards__title {
    margin-bottom: 25px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    
}

.awesome-cards__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}


.awesome-cards__img {
    margin: 0 auto;
    margin-bottom: 29px;
    width: 70px;
    height: 70px;
    border: 3px solid #ff8b38;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* pricing */

.pricing {
    width:100%;
}

.pricing-container {
    padding-top: 108px;
    background-color: #f5f5f5;
}

.pricing__title{
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 400;
    color: #212121;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
    }
    

.pricing__title::after{
    content: "";
    display: block;
    margin: 30px auto 0 auto;
    width: 64px;
    height: 2px;
    background-color: #ffa254;
}

.pricing__subtitle {
    margin-top: 30px;
    text-align: center;
    line-height: 14px;
    margin-bottom: 80px;
    color: #86878b;
}
    
.pricing-cards{
    display: flex;
    align-items: flex-end; 
    justify-content: center; 
    padding-bottom: 96px;
}

@media (max-width:500px) {
    .pricing-cards{
    display: flex;
    flex-wrap: wrap;
    }
}

.pricing-cards__item{
    width: 343px;
    margin-left:20px;
    margin-right:20px;
}
    
.pricing-cards__title{
    height:59px;
    border-bottom:1px solid white;
    background-color: #333333;
    color:white;
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center;
    padding-top: 21px;
}
    
.pricing-cards__price{
    height: 100px;
    /* margin-top: 32px; */
    background-color: #333333;;
    color:white;
    border-bottom:1px solid white;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    text-align:center;
    vertical-align: bottom;
}
.pricing-cards__dollar {
    font-size: 30px;
}
    
.pricing-cards__pay-period{
    height: 51px;
    background-color:#333333;;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-style: italic;
    text-align: center;
    padding-top:17px;
}

.pricing-cards__popular{
    min-height: 5px;
    background-color:#ff8b38;
}

.most__popular{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    text-transform: uppercase;
    text-align:center;
    padding: 13px 0 15px;
    background-color:#ff8b38;
}

.pricing-cards__descryption{
    height : 40px;
    padding-top: 14px;
    background-color:white;
    color: #86878b;
    font-size: 14px;
    text-transform: uppercase;
    text-align:center;
    border-bottom:1px solid #f5f5f5;
    font-family: "Open Sans";
}
/* feedback */
.feedback{
    width: 100%;
}

.feedback__title{
    margin-top: 108px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 400;
    color: #212121;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
}
    

.feedback__title::after{
    content: "";
    display: block;
    margin: 30px auto 0 auto;
    width: 64px;
    height: 2px;
    background-color: #ffa254;
}

.feedback__subtitle {
    margin-top: 30px;
    text-align: center;
    line-height: 14px;
    margin-bottom: 55px;
    color: #86878b;
}


.feedback-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 101px;
    flex-wrap: wrap;
}

.feedback-card__item {
    width: 273px;
    margin-left: 60px;
    margin-right: 60px;
}

.feedback-comment__text {
    background-color: #f5f5f5;
    padding: 24px 13px 30px 12px;
    border-radius: 3px;
    text-align: left;
    font-style: italic;
}
.feedback-comment::after {
    content: "";
    border: 15px solid transparent;
    border-top: 18px solid #f5f5f5;
    display: block;
    width: 0;
    height: 0;
    position: relative;
    left: 20px; 

}
.feedback-persone {
    margin-top: -10px;
    margin-left: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.persone_image {
    width: 70px;
    height: 70px;
}
.persone_data {
    margin-left: 15px;
    margin-top: 17px;
}
.persone_name {
    margin-bottom: 8px;
    text-align: left;
}

.persone_occupation {
    text-align: left;
}

/* stylish-design */

.stylish-design{
    width: 100%;
}

.stylish-container{
    max-width: 100%;
    background-color: black;
    background-image: url(../img/state_image.png);
    background-size: cover;
    text-align: center;
}


@media (max-width:900px) {
    .tylish-design__container{
        width: 900px;
    }
}
@media (max-width:600px) {
    .tylish-design__container{
        width: 600px;
    }
}
@media (max-width:400px) {
    .tylish-design__container{
        width: 400px;
    }
}

.stylish-design__title{
    color: white;
    padding-top: 74px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 
    400;
}

.stylish-design__title::after{
    content: "";
    display: block;
    margin: 30px auto 0 auto;
    width: 64px;
    height: 2px;
    background-color: white;
}

.stylish-design__subtitle{
    color:#cccccc;
    opacity:0.8;
    font-size: 16px;
    font-family: "Open Sans";
    text-align: center;
    /* line-height: 43px; */
    margin-bottom: 33px;
} 


.stylish-design__button{
    width: 135px;
    height: 42px;
    background: transparent;
    border-color:white;
    color:white;
    margin-bottom:63px;
    font-size: 16px;
}

.stylish-design__button:hover{
    border-color:  #ff8b38;
    color: #ff8b38;
}
    
/* footer */

footer{
    width:100%;
}

.footer-container{
    padding-top:38px;
    max-width: 100%;
    background-color: black;
    
}

.footer__item{
    display: flex;
    justify-content: space-between;
    width: 317px;
    height: 23px;
    margin: 0 auto;
    margin-bottom: 15px;
    color:white;
}


.footer__text{
    color:white;
    font-size: 12px;
    text-align:center;
    font-family: "Open Sans";
    margin-top:15px;
    opacity: 0.5;
    padding-bottom: 15px;
} 

.fa-facebook-f:hover{
    color: #ff8b38;
}

.fa-twitter:hover{
    color: #ff8b38;
}

.fa-google-plus-g:hover{
    color: #ff8b38;
}

.fa-pinterest:hover{
    color: #ff8b38;
}

.fa-instagram-square:hover{
    color: #ff8b38;
}

.fa-stumbleupon:hover{
    color: #ff8b38;
}

.fa-rss:hover{
    color:#ee802f;
}

@media (max-width:500px) {
    .awesome-cards, .feedback-cards{
    display: flex;
    flex-wrap: wrap;
    }
}