* {
    
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    max-width: 100%;
    height: 100%;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */
.header {
    background-color: #000;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo__img {
    background: url(../img/header-logo.png);
    display: block;
    height: 27px;
    width: 79px;
    margin: 22px 0;
}

.header-nav__list {
    display: flex;
    justify-content: space-between;
    }




.header-nav__list-item {
    list-style-type: none;
    margin-left: 48px;
}

.header-nav__link {
    text-decoration: none;
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 14px; */
    font-size: 0.875rem;
    font-weight: 600;
    /* transition: all 1s ease; */
}

.header-nav__link:hover {
    color: #ff8b38;
}

/* fullscreen */
.fullscreen {
    background: url(../img/fullscreen-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:calc(100vh - 71px);
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container.full {
    display: flex;
    margin: 0;
    width: 100%;
}

.fullscreen-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
}


.fullscreen-main {
    margin-bottom: 30px;
    margin-right: 15px;
}

.fullscreen__logo {
    margin-bottom: 33px;
}

.fullscreen__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 516px;
}

.fullscreen__title::after {
    display: block;
    border-bottom: 3px solid rgb(255, 255, 255);
    width: 74px;
    content: ' ';
    margin-right: auto;
    margin-top: 38px;
    margin-bottom: 42px;
    
}

@media (max-width:600px){
    .header-nav__list{
        display: none;
    }
    .fullscreen__logo {
        display: none;
    }
}

@media(max-width: 600px) {
    .menu__btn {
        display: block;
        position: absolute;
        right: 15px;
        top: 21px;
        width: 30px;
        height: 30px;
        vertical-align: baseline;
    }
    .header-nav__menu{
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        left: 0;
        background-color: #fff;
        top: 14px;
    }
    .menu__btn::before {
        content: '';
        height: 2px;
        position: absolute;
        background-color: #fff;
        width: 30px;
        left: 0;
        top: 0;
    }
    .menu__btn::after {
        content: '';
        height: 2px;
        position: absolute;
        background-color: #fff;
        width: 30px;
        left: 0;
        bottom: 0;
    }
    .fullscreen__title {
        font-size: 1.875rem;
    }
}



.fullscreen__text {
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 300;
    line-height: 23px;
    max-width: 461px;
    margin-bottom: 44px;
}

.fullscreen__button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    display: inline-block;
    width: 135px;
    height: 42px;
    text-align: center;
    outline: none;
}

.fullscreen__link {
    text-decoration: none;
    color: white;
}



.fullscreen__button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #ff8b38;
}

.fullscreen__button:active {
    background-color: rgba(255, 255, 255, 0.7);
}

/* main form */

label {
    display: none;
}

.fullscreen-trial {
    width: 360px;
    text-align: center;
}

.fullscreen__trial-title {
    background-color: #f5f5f5;
    color: #333333;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.free {
    color: #ff8b38;
}

.fullscreen__list {
    background-color: #fff;
}

input {
    outline: none;
    width: 285px;
    height: 31px;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin-top: 36px;
    padding-left: 15px;
}

input::-webkit-input-placeholder {
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
}

input::-moz-placeholder {
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
}

.fullscreen__password {
    margin-bottom: 50px;
}

.fullscreen__trial-link {
    display: block;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff8b38;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /* transition: all .5s ease; */
}

.fullscreen__trial-link:hover {
    border-top: 2px solid #86878b;
}


/* social_media */
.social-media{
    box-shadow:  0px 5px 5px -5px  #86878b;
}
.social-media__item{
    display: flex;
    background-color:  #ffffff;
    justify-content: space-between;
    align-items: center;
    
}

/* @media () */
.cocial-media__content{  
    min-width:280px;
}

.social-media__title{
    color: #333333;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
}

.social-media__text{
    color: #86878b;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.social-media__icons {
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 29px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.social-media__fab{
    margin-left: 15px;
    margin-right: 15px;
}
.media-icons{
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* max-width: 634px; */
    margin: auto;
    height: 46px;
    font-size: 3rem;
    color: #86878b;;
    margin-left: 10px;
    margin-right: 10px;
    align-items:center;
}

@media (max-width:870px) {
    .media-icons{
        font-size: 2rem;
    }
}
@media (max-width:750px) {
    .media-icons{
        font-size: 1.5rem;
    }
}
@media (max-width:700px) {
    .fullscreen-wrapper, .fullscreen-main{
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .fullscreen__title::after{
        margin: 38px auto 42px auto;
    }
    .fullscreen-main {
        margin-left: 15px;
    }
    .social-media__item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-media__title {
        margin-top: 15px;
        text-align: center;
    }
    .social-media__text {
        text-align: center;
    }
}

@media (max-width:400px)
    {
        .social-media__fab{
            margin-left:10px;
            margin-right: 10px;
        }
    }

/* tab-section */
.tab-section {
    background-color: #f5f5f5;
    width: 100%;
}

.tabs-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 147px;
    margin-bottom: 114px;
    padding: -15px;
}



.tabs{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 112px;
}




.tab {
    width: 112px;
    height: 7rem;
    color: #ffffff;
    display: flex;
    background-color: #333333;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    justify-content: space-around;
    border-radius: 2px;
    padding: 45% 20%;
    margin-bottom: 1px;
}


.tab:hover {
    background-color: #ff8b38;
    transition: 0.5s;
}

.tabs-text-content {
    display: flex;
    flex-direction: column;
    margin-right: 112px;
    text-align: start;
    padding: 10px 10px;
}

.tab-title {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-weight: 900;
    margin-bottom: 52px;
}

.tab-text {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #aaacb4;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.tab-link {
    display: block;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff8b38;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    width: 135px;
    border-radius: 4px;
    /* transition: all .5s ease; */
    margin: 22px 0;
}


.tab-link:hover {
    border: solid 1px #746e6e;
    color: #fcfcfc;
    font-weight: 900;
}

.tab-image {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-right: 15px;
}


@media (max-width: 1065px) {
    .tabs-content {
        flex-direction: column;
        margin-top: 60px;
    }
    .tabs {
        flex-direction: row;
        margin: auto;
        width: 100%;
    }
    
    .tabs-text-content {
        margin-right: 20px;
    }
    .tab-image {
        margin: auto;
    }
    .tab-text {
        text-align: center;
    }
    .tab-title {
        text-align: center;
        margin-bottom: 30px;
    }
    .tabs-text-content {
        align-items: center;
        margin: auto;
    }
    .tab {
        width: 100%;
        height: 120%;
        padding: 10px 20px;
        margin: 30px 10px 20px 0;
    }
}
@media (max-width: 550px) {
    .tab-link {
        width: 100%;
    }
}



.title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* awesome */
.awesome {
    max-width: 100%;

}

.awesome-wrapper {
    margin-right: -15px;
    margin-left: -15px;
}


.awesome__title {
    margin-top: 108px;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 30px;
    text-align: center;
}

.awesome__title::after{
    content: "";
    display: block;
    margin: 30px auto 0 auto;
    width: 64px;
    height: 2px;
    background-color: #ffa254;
}

.awesome__subtitle {
    margin-top: 30px;
    text-align: center;
    line-height: 14px;
    margin-bottom: 80px;
    color: #86878b;

}
.awesome__text {
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

}

.awesome-cards{
    display: flex;
    justify-content: center;

}



.awesome-cards__item {
    width: 350px;
    margin-bottom: 105px;
    margin-right: 15px;
    margin-left: 15px;
}
    

.awesome-cards__title {
    margin-bottom: 25px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    
}

.awesome-cards__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}


.awesome-cards__img {
    margin: 0 auto;
    margin-bottom: 29px;
    width: 70px;
    height: 70px;
    border: 3px solid #ff8b38;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* pricing */

.pricing {
    width:100%;
}

.pricing-container {
    padding-top: 108px;
    background-color: #f5f5f5;
}

.pricing__title{
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 400;
    color: #212121;
    font-size: 2.25rem;
    line-height: 30px;
    text-align: center;
    }
    

.pricing__title::after{
    content: "";
    display: block;
    margin: 30px auto 0 auto;
    width: 64px;
    height: 2px;
    background-color: #ffa254;
}

.pricing__subtitle {
    margin-top: 30px;
    text-align: center;
    line-height: 14px;
    margin-bottom: 80px;
    color: #86878b;
}
    
.pricing-cards{
    display: flex;
    align-items: flex-end; 
    justify-content: center; 
    padding-bottom: 96px;
    margin-right: -20px;
    margin-left: -20px;
}


.pricing-cards__item{
    width: 343px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
}
    
@media (max-width:1000px) {
    .pricing-container{
        padding-top: 20px;
    }
}
@media (max-width:700px) {
    .pricing-cards{
    display: flex;
    flex-wrap: wrap;
    }
    .pricing-cards__item{
        margin-bottom: 50px;
    }
}


.pricing-cards__title{
    height:59px;
    border-bottom:1px solid white;
    background-color: #333333;
    color:white;
    font-family: "Open Sans";
    font-size: 1.25rem;
    text-align: center;
    padding-top: 21px;
}
    
.pricing-cards__price{
    height: 100px;
    /* margin-top: 32px; */
    background-color: #333333;;
    color:white;
    border-bottom:1px solid white;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    text-align:center;
    vertical-align: bottom;
}
.pricing-cards__dollar {
    font-size: 1.875rem;
}
    
.pricing-cards__pay-period{
    height: 51px;
    background-color:#333333;;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 0.875rem;
    font-style: italic;
    text-align: center;
    padding-top:17px;
}

.pricing-cards__popular{
    min-height: 5px;
    background-color:#ff8b38;
}

.most__popular{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    text-transform: uppercase;
    text-align:center;
    padding: 13px 0 15px;
    background-color:#ff8b38;
}

.pricing-cards__descryption{
    height : 40px;
    padding-top: 14px;
    background-color:white;
    color: #86878b;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align:center;
    border-bottom:1px solid #f5f5f5;
    font-family: "Open Sans";
}
/* feedback */
.feedback{
    width: 100%;
}

.feedback__title{
    margin-top: 108px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 400;
    color: #212121;
    font-size: 2.25rem;
    line-height: 30px;
    text-align: center;
}
    

.feedback__title::after{
    content: "";
    display: block;
    margin: 30px auto 0 auto;
    width: 64px;
    height: 2px;
    background-color: #ffa254;
}

.feedback__subtitle {
    
    text-align: center;
    line-height: 14px;
    margin-bottom: 55px;
    color: #86878b;
}


.feedback-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 86px;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    
}

.feedback-card__item {
    width: 273px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.feedback-comment__text {
    background-color: #f5f5f5;
    padding: 24px 13px 0px 12px;
    border-radius: 3px;
    text-align: left;
    font-style: italic;
}
.feedback-comment::after {
    content: "";
    border: 15px solid transparent;
    border-top: 18px solid #f5f5f5;
    display: block;
    width: 0;
    height: 0;
    position: relative;
    left: 20px; 

}
.feedback-persone {
    margin-top: -10px;
    margin-left: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.persone_image {
    width: 70px;
    height: 70px;
}
.persone_data {
    margin-left: 15px;
    margin-top: 17px;
}
.persone_name {
    margin-bottom: 8px;
    text-align: left;
}

.persone_occupation {
    text-align: left;
}

/* stylish-design */

.stylish-design{
    width: 100%;
}

.stylish-container{
    max-width: 100%;
    background-color: black;
    background-image: url(../img/state_image.png);
    background-size: cover;
    text-align: center;
}


@media (max-width:900px) {
    .tylish-design__container{
        width: 900px;
    }
}
@media (max-width:600px) {
    .tylish-design__container{
        width: 600px;
    }
}
@media (max-width:400px) {
    .tylish-design__container{
        width: 400px;
    }
}

.stylish-design__title{
    color: white;
    padding-top: 74px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Raleway;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 
    400;
}

.stylish-design__title::after{
    content: "";
    display: block;
    margin: 30px auto 0 auto;
    width: 64px;
    height: 2px;
    background-color: white;
}

.stylish-design__subtitle{
    color:#cccccc;
    opacity:0.8;
    font-size: 1rem;
    font-family: "Open Sans";
    text-align: center;
    /* line-height: 43px; */
    margin-bottom: 33px;
} 


.stylish-design__button{
    width: 135px;
    height: 42px;
    background: transparent;
    border-color:white;
    color:white;
    margin-bottom:63px;
    font-size: 1rem;
}

.stylish-design__button:hover{
    border-color:  #ff8b38;
    color: #ff8b38;
}
    

/*Contact us*/
.subject-contact__title{
    color: #212121;
    font-size: 2.25rem;
    padding-top: 108px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 26px;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}
.subject-contact__title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.subject-contact__subtitle {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 80px;
    text-align: center;
}

.formblock {
    display: flex;
    justify-content: space-between;
    margin-left: -34px;
    margin-right: -34px;
    margin-bottom: 43px;
    align-items: center;
}

@media (max-width:800px) {
    .formblock {
        flex-wrap: wrap;
        justify-content: center;
    }
    .subject-contact__list {
        margin-bottom: 15px;
    }
}


.subject-contact__list, .message {
    width: 527px;
    min-width: 360px;
}


.subject-contact__list {
    margin-right: 34px;
    margin-left: 34px;
}

.subject-contact__list-item, .subject-contact__input, .subject-contact__textarea {
    width: 100%;
    
}

.subject-contact__textarea {
    height: 135px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;

}

.subject-contact__message {
    display: block;
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    min-width:  400px;
    margin-bottom: 5px;
}

.message {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 34px;
    margin-left: 34px;
    padding-left: 15px;
    margin-top: 36px;
}

.subject-contact__btn {
    display: block;
    width: 148px;
    height: 46px;
    border: none;
    border-radius: 5px;
    margin: 0 auto 80px;
    background-color: #ff8b38;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.937rem;
    font-weight: 600;
    outline: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    /* transition: 0.3s all ease; */
}

.subject-contact__btn:active {
    transform: scale(0.80, 0.80);
}

/* footer */

footer{
    width:100%;
}

.footer-container{
    padding-top:38px;
    max-width: 100%;
    background-color: black;
    
}

.footer__list{
    display: flex;
    justify-content: space-between;
    width: 317px;
    height: 23px;
    font-size: 1.25rem;
    margin: 0 auto;
    margin-bottom: 15px;
    color:rgb(145, 139, 139);
}


.footer__text{
    color:white;
    font-size: 0.75rem;
    text-align:center;
    font-family: "Open Sans";
    margin-top:15px;
    opacity: 0.5;
    padding-bottom: 15px;
} 

.fa-facebook-f:hover{
    color: #ff8b38;
}

.fa-twitter:hover{
    color: #ff8b38;
}

.fa-google-plus-g:hover{
    color: #ff8b38;
}

.fa-pinterest:hover{
    color: #ff8b38;
}

.fa-instagram-square:hover{
    color: #ff8b38;
}

.fa-stumbleupon:hover{
    color: #ff8b38;
}

.fa-rss:hover{
    color:#ee802f;
}

@media (max-width:700px) {
    .awesome-cards, .feedback-cards{
    display: flex;
    flex-wrap: wrap;
    }
}